.homePage {
  margin-top: 60px;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

/* Responsive grid */
@media (max-width: 2000px) {
  .productsGrid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .productsGrid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .productsGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .productsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }
}

.productContainer {
  padding: 40px 25px 25px;
  border-right: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
}

.productImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
}

.productImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.productName {
  height: 40px;
  margin-bottom: 5px;
}

.productRatingContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.productRatingStars {
  width: 100px;
  margin-right: 6px;
}

.productRatingCount {
  color: rgb(25, 135, 84);
  margin-top: 3px;
}

.productPrice {
  font-weight: 700;
  margin-bottom: 10px;
}

.productQuantityContainer {
  margin-bottom: 17px;
}

.productSpacer {
  flex: 1;
}

.addedToCart {
  color: rgb(25, 135, 84);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  opacity: 0;
}

.addedToCart img {
  height: 19px;
  margin-right: 6px;
}

.addToCartButton {
  width: 100%;
  padding: 8px;
  height: 34px;
}
